@import "tailwindcss";

@font-face {
  font-family: "Sweet and Salty";
  src: url("../fonts/sweet_and_salty.woff2") format("woff2");
}

@theme {
  --font-family-sweet-and-salty: "Sweet and Salty";

  --color-red: #bc2e24;
  --color-green: #62c74d;
}

body {
  font-family: var(--font-family-sweet-and-salty);
  color: white;
}

.need-border::before {
  content: "";
  background-image: url("/assets/border.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 10;
}

.aside-btn-1 {
  top: anchor(--settings top, 10%);
  left: anchor(--settings left, 0%);
  transform: translateX(-100%);
}

.aside-btn-2 {
  top: anchor(--settings top, 20%);
  left: anchor(--settings left, 0%);
  transform: translateX(-100%);
}

p {
  font-size: 1.5rem;
  line-height: 1;
}
